*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}


.navbar-brand{
    font-size: 15px;
}

.dropdown{
    position: relative;
  }
  .dropdown-content{
    display: none;
    overflow: auto;
    z-index: 1;
    background-color: #FCF8F8;
    margin-top: 7px;
  }
  .dropdownflex{
    display: flex;
    gap: 7px
  }
  .dropdown-content a {
    color: black;
    padding: 10px 0 4px 0px;
    text-decoration: none;
    display: block;
    
  }


.dropdown2 {
    position: relative;
  }
  .dropdown-content2 {
    display: none;
    overflow: auto;
    z-index: 1;
    margin-top: 7px;
  }
  .dropdownflex2{
    display: flex;
    gap: 7px
  }
  .dropdown-content2 a {
    color:rgb(51, 136, 211);
    padding: 10px 0 4px 0px;
    text-decoration: none;
    display: block;
    
  }

  a:hover {color: #6b0054;}
.show {display: block;}

.menu{
    height: 880px;
    overflow-y: scroll;

    margin-left: 50px;
    color:rgb(21, 136, 236);
    
}
.footer{
    display: flex;
     margin-top: 35px;
    gap: 9px;
    
}
.footer img{
    height: 20px;
    margin-left: 5px; 
}
.footer p{
    font-weight: bold;
    margin-top: 6px;
    font-size: 12px;
    color: red;
    margin-bottom: 12px;
}
.logos{
    height: 75px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.containe{
    background-image: url(../photos/HD-hotspot-bg.png);
    background-size: cover;
}
.menu a:hover {
    color:#6b0054 ;
}


/* waris part st */
.notic{
  background: red;
   font-size: 25px;
}
.slidpart{
  border: solid 1px;
  background: green;
}
/* waris part end */

.scrolling-wrap {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  border: #3f2828 solid 1px;
  border-radius: 5px;
  .comm {
    display: flex;
    font-size: 25px;
    animation: scroll 30s linear infinite;
    cursor: pointer;
    margin: 0;
    div {
      margin: 0;
      &:before {
        content:'•';
        -webkit-text-stroke: 0px #000;
        color: #ff0;
        display: inline-block;
        margin: 0 4rem;
      }
		&:nth-child(odd) {
			color: #f50;
		
		}
      &:hover {
        color: #ff0;
			transition: 0.2s;
      }
    }
  } 
  &:hover{
    .comm  {
      animation-play-state: paused;
    }
  }
} 




@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.scroltextt{
  color: brown;
}

/* Form Part st */
.formpart{
  border: solid black 1px;
  padding: 20px 10px;
}

.formhead1{
  font-size: 20px;
  margin-bottom: 30px;
}

.inputs-cls{
  width: 90%;
  height: 45px;
}
.inputs-clss{
  width: 90%;
  height: 170px;
}

.selects{
  width: 90%;
  border-radius:2px;
  background: none;
  margin-top: 20px;
  height: 45px;
  padding-left: 20px;
  border: solid 1px rgb(154, 146, 146);
  margin-top: 12px;
  background:white;
}

.table11{
  text-align: center;
  border:  1px;
  padding: 10px;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 35px;

}
.add{
  font-size: 30px;
  padding: 1px 6px ;
 
}
.oarish{
  font-size: 20px;
}
.subbutn{
  padding:10px 25px;
  background: green;
  margin-bottom: 20px;
  margin-left:50% ;margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: #eaede3;
  font-weight: 600;
  font-size: 25px;
  transform: translate(-50px);
}

.bodybg{
  background: url(../photos/images.jpeg);
  background-size: cover;
  /* background: #181217; */
}

.container{
  background: #eaede3;
}